modules = ["nodejs-22"]
run = "npm run dev"
hidden = [".next", "node_modules"]

[nix]
channel = "stable-24_05"

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]
run = ["npm", "run", "start"]

[[ports]]
localPort = 3000
externalPort = 80
